/* CUSTOM-PROPS */
:root {
  /* Colors  */
  --white: #fff;
  --black: #111517;
  --body-gray: #fafafa;
  --input-gray: #848484;
  --details-white: var(--white);
  --loader-bg: rgba(255, 255, 255, 0.7);

  /* Shadows  */
  --card-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
  --header-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
  --action-inputs-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
  --back-button-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.29);
  --borders-button-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);

  /* Transitions  */
  --transition-base: 150ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.dark {
  --white: #2b3844;
  --black: #fff;
  --input-gray: var(--black);
  --body-gray: #202c36;
  --details-white: var(--body-gray);
  --loader-bg: rgba(0, 0, 0, 0.7);
}

/* Font-FacE  */
@font-face {
  font-family: "Nunito Sans 10pt";
  src: url("../fonts/NunitoSans10pt-Light.woff2") format("woff2"),
    url("../fonts/NunitoSans10pt-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans 10pt";
  src: url("../fonts/NunitoSans10pt-ExtraBold.woff2") format("woff2"),
    url("../fonts/NunitoSans10pt-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans 10pt";
  src: url("../fonts/NunitoSans10pt-Regular.woff2") format("woff2"),
    url("../fonts/NunitoSans10pt-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans 10pt";
  src: url("../fonts/NunitoSans10pt-SemiBold.woff2") format("woff2"),
    url("../fonts/NunitoSans10pt-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Loader  */
.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: var(--loader-bg);
  transition: opacity 0.3s ease;
}

.loader-wrapper--none {
  opacity: 0;
  pointer-events: none;
}

.loader {
  width: 4.8rem;
  height: 4.8rem;
  border: 0.5rem dotted var(--black);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

/* Global-styles  */
html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--body-gray);
  color: var(--black);
  font-family: "Nunito Sans 10pt", "Arial", sans-serif;
  font-size: 1.4rem;
  line-height: 1.1;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* Focus-styles  */
*:focus {
  outline: 0.3rem dashed var(--black);
  outline-offset: 0.3rem;
}

/* Container  */
.container {
  max-width: 132rem;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
}

/* Visually-hidden  */
.visually-hidden {
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  margin: -0.1rem;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 1.5rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--input-gray);
  border-radius: 20px;
  border: 0.4rem solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

/* Clears the ‘x’ from internet explorer */
input[type="search"]::-ms-clear {
  cursor: pointer;
}

input[type="search"]::-ms-reveal {
  cursor: pointer;
}

/* Clears the ‘x’ from chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  cursor: pointer;
}

/* Main-content  */
.main-content {
  flex-grow: 1;
}

/* Site-header  */
.site-header {
  box-shadow: var(--header-shadow);
  background-color: var(--white);
}

.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
}

.site-header__logo {
  color: var(--black);
  margin: 0;
  font-size: 2.4rem;
  font-size: 900;
  white-space: nowrap;
}

.site-header__theme-switcher {
  background-color: transparent;
  padding: 0;
  border: 0;
  cursor: pointer;
  transition: transform var(--transition-base);
}

.site-header__theme-switcher:hover {
  opacity: 0.8;
}

.site-header__theme-switcher:active {
  transform: scale(0.9);
}

.theme-switcher__inner {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.theme-switcher__text {
  font-size: 1.6rem;
  font-size: 600;
  text-transform: capitalize;
  margin-left: 0.8rem;
  color: var(--black);
}

/* Section-actions */
.section-actions__container {
  padding-top: 4.8rem;
  padding-bottom: 2.4rem;
}

.section-actions__actions {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.actions__search-input-wrapper {
  position: relative;
  max-width: 48rem;
  width: 100%;
}

.actions__search-input {
  padding: 1.8rem 3.6rem 1.8rem 7.4rem;
  border-radius: 0.5rem;
  box-shadow: var(--action-inputs-shadow);
  font-size: 1.4rem;
  border: none;
  width: 100%;
  background-color: var(--white);
  color: var(--black);
}

.actions__search-input::placeholder {
  color: var(--input-gray);
}

.actions__search-icon {
  position: absolute;
  top: 50%;
  left: 3.2rem;
  transform: translateY(-50%);
}

.actions__select-zone-wrapper {
  position: relative;
  max-width: 20rem;
  width: 100%;
}

.actions__select-region {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.8rem 2.4rem;
  box-shadow: var(--action-inputs-shadow);
  border-radius: 0.5rem;
  background-color: var(--white);
  cursor: pointer;
  user-select: none;
}

.actions__region-list {
  visibility: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5.6rem;
  padding: 1.2rem 2.4rem;
  margin: 0;
  list-style: none;
  background-color: var(--white);
  border-radius: 0.5rem;
  box-shadow: var(--action-inputs-shadow);
  opacity: 0;
  transition: opacity var(--transition-base);
}

.actions__region-item {
  position: relative;
  padding: 0.4rem;
  width: 100%;
}

.actions__region {
  color: var(--black);
  text-decoration: none;
  transition: opacity var(--transition-base);
}

.actions__region:hover {
  opacity: 0.6;
}

.actions__region::before {
  position: absolute;
  content: "";
  inset: 0;
}

.actions__region:focus {
  outline: none;
}

.actions__select-region-checkbox:checked ~ .actions__region-list {
  opacity: 1;
  visibility: visible;
  z-index: 100;
}

/* Counries */
.section-countries__container {
  padding-top: 2.4rem;
  padding-bottom: 4rem;
  position: relative;
}

.section-countries__no-data {
  position: absolute;
  left: 50%;
  top: 8rem;
  transform: translateX(-50%);
  z-index: -1;
  color: var(--black);
}

.section-countries__countries {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(27rem, 1fr));
  margin: 0;
  padding: 0;
  gap: 6rem;
  list-style: none;
  background-color: var(--body-gray);
}

.countries__item {
  border-radius: 0.5rem;
  box-shadow: var(--card-shadow);
  overflow: hidden;
  min-height: 33.6rem;
  background-color: var(--white);
  cursor: pointer;
}

.countries__item--none {
  display: none;
}

.country__flag {
  display: block;
  object-fit: cover;
  object-position: center;
  height: 17rem;
  width: 100%;
}

.country__info {
  padding: 2.4rem;
}

.country__title {
  margin-top: 0;
  margin-bottom: 1.6rem;
  font-size: 1.8rem;
}

.country__description-list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin: 0;
}

.country__term-description {
  display: flex;
  align-items: center;
}

.country__term {
  font-weight: 600;
}

.country__detail {
  margin: 0 0 0 0.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Media  */
/* Responsive ==> 800 */
@media only screen and (max-width: 800px) {
  .section-actions__actions {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* Responsive ==> 500 */
@media only screen and (max-width: 500px) {
  .site-header__container {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .site-header__logo {
    font-size: 1.4rem;
  }

  .theme-switcher__text {
    font-size: 1.2rem;
  }

  .section-actions__container {
    padding-top: 2.4rem;
    padding-bottom: 2rem;
  }

  .actions__search-input {
    font-size: 1.2rem;
  }

  .actions__select-zone-wrapper {
    font-size: 1.2rem;
  }
}

/* Responsive ==> 320 */
@media only screen and (max-width: 320px) {
  .theme-switcher__text {
    display: none;
  }

  .section-countries__countries {
    grid-template-columns: 1fr;
  }
}

/* Keyframes */
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
